body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: green;
}

.start-time {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}

.forButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}